[Unit]
Description=Run multirobot SLAM client docker container
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/home/students/multirobot-collaborative-slam-hyb/release/multirobot_client/docker_scripts/docker_run.bash
Restart=always
User=root
Group=docker

[Install]
WantedBy=multi-user.target